* {
    box-sizing: border-box;
}

.header {
    width: 100%;
    min-height: 600px;
    padding: 3em 0em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: rgb(0,0,0);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 22px;
}

.header h3 {
    color: white;
}

.navbar {
    background-color: white;
    padding: 2em;
    width: 100%;
    /* border: 1px solid gray; */
    margin: 2% 0%;
    text-align: center;
}

.sidenav {
    width: 75px;
    min-height: 100px;
    position: fixed;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.5);
    overflow-x: hidden;
    padding: auto 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.content{
    position: relative;
}

a {
    text-decoration: none;
    font-family: 'Sunflower', sans-serif;
    font-size: 20px;
    line-height: 25px;
    color: gray;
    margin: 0% 2%;
}

.content {
    font-size: 22px;
    line-height: 25px;
    font-family: 'Sunflower', sans-serif;
    margin: 2% 20%;
    background-color: khaki;
    color: white;
    padding: 1em;
}

.footer {
    bottom: 0;
    width: 100%;
    padding: 2em;
    height: 200px;
    background-color: hsl(300, 34%, 25%);
    text-align: center;
    font-family: 'Sunflower', sans-serif;;
}

.sm-icon {
    height: 30px;
    width: 30px;
}

.footer * {
    color: white;
}

.profile-photo {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}