#container {
    margin: 5px 10%;
    font-family: 'Montserrat', sans-serif;
}

.row {
    min-height: 100px;
    width: 100%;
    background-color: rgb(165,42,42,0.5);
    padding: 0.5em;
    margin: 5px 5px;
}

.box {
    height: 200px;
    width: 100%;
    padding: 2em;
}

.img-box {
    height: 100%;
    width: 40%;
    margin: 0 2%;
}

.link {
    text-align: center;
    font-size: 24px;
    color: burlywood;
    padding: 1.5em;
}

a {
    text-decoration: none;
    text-shadow: 5px;
    margin: auto auto;
}

.pro-title {
    font-size: 32px;
    color: aquamarine;

}